<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GET Youtube Subscribers</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div class="container">
      <div>
        <h1>GET <b>YOUTUBE</b> SUBSCRIBERS</h1>
      </div>
      <hr />
      <div>
        <h3>THE APIs PROVIDED BY THIS APPLICATION ARE FOLLOWING:</h3>
        <ol>
          <li>
            <p>
              <strong>GET </strong><b><em><a href="http://localhost:3001/subscribers">/subscriber</a></em></b>: Response with
              an array of subscribers (an Object).
            </p>
          </li>
          <li>
            <p>
              <strong>GET </strong><b><em><a href="http://localhost:3001/subscribers/name">/subscribers/name</a></em></b>: Response
              with an array of subscribers (an Object with two fields name &
              subscribed channel).
            </p>
          </li>
          <li>
            <p>
              <strong>GET </strong><b><em><a href="">/sub/:id</a></em></b>: Response
              with a subscriber (an Object) with given id.
            </p>
          </li>
        </ol>
      </div>
    </div>
  </body>
</html>